<!-- header.hbs -->
<table>
  <tr>
    <td><a href="/userprofile">User Profile</a></td>
    <td><a href="/showallposts">Show All Posts</a></td>
    <td><a href="/countalluserposts">Count All User Posts</a></td>
    <td><a href="/createapost">Create a Post</a></td>
  </tr>
</table>
