
{{!< layouts/main}} <!-- Specify the layout template name -->


 <script src="script.js"></script>
{{> header}} <!-- Include the header partial -->

<section>
  <h1>Welcome to the EBgram</h1>
  <p>Token: {{token}}</p>
</section>

{{>footer}}