{{!< layouts/main}} <!-- Specify the layout template name -->

    {{> header}} <!-- Include the header partial -->

    <script type="text/javascript">
        let token ="{{token}}"
        let posts = "{{posts}}";
    </script>

    <section>
        <h1>Welcome to the EBgram</h1>
        <p>Token: {{token}}</p>


    </section>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function saveTokenToLocalStorage(token) {
            console.log(token)
            localStorage.setItem('token', token);
            console.log('workint till here')
        }

        saveTokenToLocalStorage(token);

    </script>

    {{>footer}}