
{{!< layouts/main}} <!-- Specify the layout template name -->



{{> header}} <!-- Include the header partial -->
<script type="text/javaScript">
    let token = "{{token}}"

</script>
<section>
  <h1>Welcome to the EBgram</h1>
  <p>Token: {{token}}</p>
</section>
 <script src="js/script.js"></script>
{{>footer}}