{{!< layouts/main}} <!-- Specify the layout template name -->

    {{> header}} <!-- Include the header partial -->

    <script type="text/javascript">
        let posts = "{{posts}}";
    </script>

    <section>
        <h1>Post Feeds</h1>
        <p>posts: {{posts}}</p>


    </section>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const token = localStorage.getItem('token');
        console.log(token);
        const headers = {
            Authorization: `Bearer ${token}`
        };

        axios.get('/posts', { headers })
            .then(response => {
                console.log('GET request successful:', response.data);
            })
            .catch(error => {
                console.error('Error making GET request:', error);
            });


    </script>

    {{>footer}}