{{!< layouts/main}} <!-- Specify the layout template name -->

    {{> welcomeHeader}} <!-- Include the header partial -->

 
    <section>
        <h1>Welcome to the EBgram</h1>


    </section>


    {{>footer}}